@import "tailwindcss";
@import "flowbite";

/* This replaces the 'content' array in the old config */
@source "../../views";

@theme {
  /* Define your luxury serif font here */
  --font-serif: "Jost", sans-serif;
  --font-sans: "Work Sans", sans-serif;
  
  /* Brand Colors */
  --color-lumiskin-gold: #c5a059;
}

/* Custom base styles for the storefront */
@layer base {
  body {
    @apply font-sans antialiased text-gray-900 bg-pink-500;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-black font-semibold text-pink-800;
  }
}

